.error {
    background: darkred;
    color: white;
    border-radius: var(--rForm);
    outline-style: solid;
	outline-width: var(--bdSizeForm);
	outline-color: var(--bdColForm);
    display: block;
    float: left;
    height: auto;
    left: 10%;
    margin: 10px;
    min-height: 10vh;
    min-width: 50vw;
    overflow: hidden;
    padding: 3%;
    position: absolute;
    font-family: var(--font);
	padding: 2vh;
    top: 10%;
    width: auto;
    z-index: 100;
    box-shadow: 15px 15px 25px black;
}

.error title {
    color: yellow;
    outline: 1px solid black;
    font-size: large;
}

.error input[type=button] {
    background: black;
    color: white;
    outline: 1px solid white;
    font-size: large;
}
