
.footer {
    grid-area: 4 / 2 / 5 / 3;
    background: var(--footerBg);
    color: var(--footerFg);
    border-radius: var(--footerBorderRadius);
    outline-color: var(--footerBorderColor);
    outline-width: var(--footerBorderSize);
    outline-style: solid;
    -webkit-box-shadow: 10px 10px 15px rgba(0,0,0,var(--footerShadows));
	box-shadow: 10px 10px 15px rgba(0,0,0,var(--footerShadows));
    text-align: center;
    font-family: var(--footerFontFam);
    font-size: var(--footerFontsize);
    font-style: var(--footerFontstyle);
    font-weight: var(--footerFontweight);
    line-height: calc( 2.3 * var(--footerFontsize) );
    height: var(--footerHeight);
}

.footer:active,
.footer:hover,
.footer:focus {
    background: var(--footerBgHi);
    color: var(--footerFgHi);
}

.footer:disabled
{
    background: var(--footerBgDis);
    color: var(--footerFgDis);
}
