.right {
    grid-area: 1 / 3 / 5 / 4;
    background: var(--appBg);
    color: var(--appFg);
    border-radius: var(--appBorderRadius);
    display: none;
    margin-top: 18vh;
    position: fixed;
    right: 0vw;
}

.right figure {
    background: var(--appBg);
}


@media screen and (max-width: 600px) {

    .right {
        display: none;
    }
}