{   
    "globals": {
        "add_form":{},
        "enable_element":{},
        "get_session_key":{},
        "get_session_page":{},
        "get_session_site":{},
        "get_session_user":{},
        "get_style":{},
        "init_admintools":{},
        "init_session":{},
        "init_usertools":{},
        "query_checked":{},
        "query_class":{},
        "query_id":{},
        "query_src":{},
        "query_value":{},
        "query_style":{},
        "query":{},
        "remove_form":{},
        "server":{},
        "set_session_page":{},
        "set_session_user":{},
        "set_style":{},
        "toggle_display":{},
        "update_content":{},
        "update_footer":{},
        "update_navbar":{},
        "update_titlebar":{},
        "vh2px":{}
   }
}