{
    "globals": {
        "add_form": {},
        "attach_editor": {},
        "clear_tags": {},
        "detach_editor": {},
        "draw_content": {},
        "enable_element": {},
        "error": {},
        "get_caret_pos": {},
        "content": {},
        "get_selected_node": {},
        "get_session_key": {},
        "get_session_page": {},
        "get_session_selection": {},
        "get_top_menu":{},
        "get_session_site": {},
        "get_session_user": {},
        "get_style": {},
        "get_tool_state": {},
        "init_admintools": {},
        "init_session": {},
        "usr_menu": {},
        "adm_menu": {},
        "is_valid": {},
        "mp3_to_base64": {},
        "popup": {},
        "release_user_tools": {},
        "remove_form": {},
        "replace_between_tags": {},
        "resize_img_by_wheel": {},
        "logo":{},
        "theme_menu":{},
        "avatar":{},
        "save_content": {},
        "server": {},
        "set_session_page": {},
        "set_session_selection": {},
        "set_session_user": {},
        "set_style": {},
        "set_tool_state": {},
        "get_content":{},
        "simple": {},
        "surround": {},
        "top_menu":{},
        "cut_char_from_ends":{},
        "picture_code": {},
        "update_page_positions": {},
        "get_title":{},
        "toggle_display": {},
        "toggle_tag": {},
        "update_content_positions": {},
        "update_content": {},
        "THUMB_SIZE": {},
        "THUMB_MIN": {},
        "MOBILE_SIZE": {},
        "MOBILE_MIN": {},
        "close_simple":{},
        "split_border":{},
        "build_border":{},
        "styles_to_theme":{},
        "theme_to_styles":{},
        "PAD_SIZE": {},
        "PAD_MIN": {},
        "PC_SIZE": {},
        "password":{},
        "close_password":{},
        "close_yesno":{},
        "PC_MIN": {},
        "MAX_IMAGE_SIZE": {},
        "footer": {},
        "update_navbar": {},
        "update_page": {},
        "update_section_style": {},
        "title": {},
        "update_tools": {},
        "update_user_tools": {},
        "upload_image": {},
        "upload_mp3": {},
        "vh2px": {},
        "yesno": {}
    }
}