:root {
    --name: "IceWall";
    --wCenter: 80%;
    --vGap: 20px;
    --hGap: 30px;
    --appName: "icewall-app";
    --appBg: #101010;
    --appFg: #ffffff;
    --appBgHi: #C20000;
    --appFgHi: #FFE020;
    --appBgDis: #808080;
    --appFgDis: #404040;
    --appBorderSize: 2px;
    --appBorderColor: #ffffff;
    --appBorderRadius: 16px;
    --appFontfam: "Arial";
    --appFontsize: 1.00em;
    --appFontweight: normal;
    --appFontstyle: normal;
    --appHeight: 98vh;
    --appWidth: 80%;
    --appShadows: 1;
    --topName: "icewall-top";
    --topBg: #101010;
    --topFg: #ffffff;
    --topBgHi: #C20000;
    --topFgHi: #FFE020;
    --topBgDis: #808080;
    --topFgDis: #404040;
    --topBorderSize: 2px;
    --topBorderColor: #ffffff;
    --topBorderRadius: 16px;
    --topFontfam: "Arial";
    --topFontsize: 1.00em;
    --topFontweight: normal;
    --topFontstyle: normal;
    --topHeight: 10vh;
    --topWidth: 80%;
    --topShadows: 1;
    --subName: "icewall-sub";
    --subBg: #101010;
    --subFg: #ffffff;
    --subBgHi: #C20000;
    --subFgHi: #FFE020;
    --subBgDis: #808080;
    --subFgDis: #404040;
    --subBorderSize: 2px;
    --subBorderColor: #ffffff;
    --subBorderRadius: 16px;
    --subFontfam: "Arial";
    --subFontsize: 1.00em;
    --subFontweight: normal;
    --subFontstyle: normal;
    --subHeight: 3vh;
    --subWidth: 80%;
    --subShadows: 1;
    --centerName: "icewall-center";
    --centerBg: #101010;
    --centerFg: #ffffff;
    --centerBgHi: #C20000;
    --centerFgHi: #FFE020;
    --centerBgDis: #808080;
    --centerFgDis: #404040;
    --centerBorderSize: 2px;
    --centerBorderColor: #ffffff;
    --centerBorderRadius: 16px;
    --centerFontfam: "Arial";
    --centerFontsize: 1.00em;
    --centerFontweight: normal;
    --centerFontstyle: normal;
    --centerHeight: 74vh;
    --centerWidth: 80%;
    --centerShadows: 1;
    --bottomName: "icewall-bottom";
    --bottomBg: #101010;
    --bottomFg: #ffffff;
    --bottomBgHi: #C20000;
    --bottomFgHi: #FFE020;
    --bottomBgDis: #808080;
    --bottomFgDis: #404040;
    --bottomBorderSize: 2px;
    --bottomBorderColor: #ffffff;
    --bottomBorderRadius: 16px;
    --bottomFontfam: "Arial";
    --bottomFontsize: 1.00em;
    --bottomFontweight: normal;
    --bottomFontstyle: normal;
    --bottomHeight: 4vh;
    --bottomWidth: 80%;
    --bottomShadows: 1;
    --btnName: "icewall-buttons";
    --btnBg: #101010;
    --btnFg: #ffffff;
    --btnBgHi: #C20000;
    --btnFgHi: #FFE020;
    --btnBgDis: #808080;
    --btnFgDis: #404040;
    --btnBorderSize: 2px;
    --btnBorderColor: #ffffff;
    --btnBorderRadius: 16px;
    --btnFontfam: "Arial";
    --btnFontsize: 1.00em;
    --btnFontweight: normal;
    --btnFontstyle: normal;
    --btnHeight: 6vh;
    --btnWidth: 80%;
    --btnShadows: 1;
    --inpName: "icewall-fields";
    --inpBg: #101010;
    --inpFg: #ffffff;
    --inpBgHi: #C20000;
    --inpFgHi: #FFE020;
    --inpBgDis: #808080;
    --inpFgDis: #404040;
    --inpBorderSize: 2px;
    --inpBorderColor: #ffffff;
    --inpBorderRadius: 16px;
    --inpFontfam: "Arial";
    --inpFontsize: 1.00em;
    --inpFontweight: normal;
    --inpFontstyle: normal;
    --inpHeight: 6vh;
    --inpWidth: 80%;
    --inpShadows: 1;
}
