* {
	box-sizing: border-box;
	font-family: var(--font);
	font-size: 1.0em;
}

body {
	background: var(--appBg);
	height: 100vh;
	width: auto;
	display: block;
}

nav {
	position: fixed;
	left: var(--left);
	top: 0.5%;
	height: var(--nbarH);
	width: var(--width);
	
	background: var(--barsBg); 
	color: var(--barsFg);

	font-size: var(--nbarFsize);
	font-weight: var(--nbarBold);
	font-style: var(--nbarItalic);

	border-radius: var(--radius);	
	outline: var(--barsBorder);

	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--barsShadow	));

	z-index: 15;

}

header {
	position: fixed;
	left: var(--left);
	top: calc( var(--nbarH) + var(--vGap));
	height: var(--tbarH);
	width: var(--width);
	background: var(--barsBg);
	color: var(--barsFg);
	font-size: var(--tbarFsize);
	font-weight: var(--tbarBold);
	font-style: var(--tbarItalic);
	line-height: calc( var(--tbarH) );
	border-radius: var(--radius);
	outline: var(--barsBorder);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--barsShadow));
}

main {
	background: var(--appBg);
	text-align: center;
	margin-top: calc( var(--nbarH) + var(--tbarH) + (2.5 * var(--vGap) ) );
}

footer {
	position: fixed;
	left: var(--left);
	bottom: 0.5%;
	height: var(--fbarH);
	width: var(--width);

	background: var(--barsBg);
	color: var(--barsFg);

	font-size: var(--fbarFsize);
	font-weight: var(--fbarBold);
	font-style: var(--fbarItalic);
	line-height: var(--fbarH);

	border-radius: var(--radius);
	outline: var(--barsBorder);

	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--barsShadow));

}

section {
	background: var(--contBg);
	color: var(--contFg);
	height: auto;
	width: auto;
	border-radius: var(--radius);
	outline: var(--contBorder);
	margin-left: calc( var(--left) );
	margin-right: calc( var(--left) );
	margin-top: 1.0em;
	min-height: 3.2em;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--contShadow));
}

section:hover,
.active-section {
	outline-width: calc(2 * var(--contBorder));
}



input {
	background: var(--fieldsBg);
	color: var(--fieldsFg);

	border-radius: var(--fieldsBorderRadius);
	outline-color: var(--fieldsBorderColor);
	outline-width: var(--fieldsBorderSize);
	outline-style: solid;

	font-family: var(--fieldsFontfam);
	font-size: var(--fieldsFontsize);
	font-weight: var(--fieldsFontweight);
	font-style: var(--fieldsFontstyle);


	margin: 8px 2px 8px 0px;
}

input:hover {
	background: var(--fieldsBgHi);
	color: var(--fieldsFgHi);
}

input:disabled {
	background: var(--fieldsBgDis);
	color: var(--fieldsFgDis);
	cursor: not-allowed;
}


button,
input[type=button] {
	display: block;
	width: var(--buttonWidth);
	min-width: 100px;
	margin-top: 12px;
	height: calc(2 * var(--buttonFontsize));

	background: var(--buttonBg);
	color: var(--buttonFg);


	border-radius: var(--buttonBorderRadius);
	outline-color: var(--buttonBorderColor);
	outline-width: var(--buttonBorderSize);
	outline-style: solid;

	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--buttonShadows));

}

button:hover,
input[type=button]:hover {
	background: var(--buttonBgHi);
	color: var(--buttonFgHi);
}

button:disabled,
input[type=button]:disabled {
	background: var(--buttonBgDis);
	color: var(--buttonFgDis);
	cursor: not-allowed;
}

input[type=checkbox] {
	margin-left: 0;
	margin-right: 95%;
	border: none;
	outline: none;
}

select {
	background: var(--fieldsBg);
	color: var(--fieldsFg);

	font-family: var(--fieldsFontfam);
	font-size: var(--fieldsFontsize);
	font-weight: var(--fieldsFontweight);
	font-style: var(--fieldsFontstyle);

	border-radius: var(--fieldsBorderRadius);

	height: 3vh;
	border: none;
	outline: none;
}

select:hover {
	background: var(--fieldsBgHi);
	color: var(--fieldsFgHi);
}

select:disabled {
	background: var(--fieldsBgDis);
	color: var(--fieldsFgDis);
	cursor: not-allowed;
}

form {
	display: block;
	position: absolute;

	left: var(--sidebarsWidth);
	top: calc(var(--navbarHeight) + var(--titlebarHeight) + 6vh);

	width: auto;
	height: auto;

	background: var(--formBg);
	color: var(--formFg);

	padding: 8px;

	min-width: var(--formWidth);
	min-height: var(--formHeight);

	border-radius: var(--formBorderRadius);
	outline-color: var(--formBorderColor);
	outline-width: var(--formBorderSize);
	outline-style: solid;

	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--formShadows));

	z-index: 10;
}

form input[type=button] {
	width: auto !important;
}


/* 	Internals not editable by user 
	------------------------------------------------
*/

aside {
	grid-row: 1 / 5;
	background: transparent !important;
	color: #ffffff;
	font-size: small;
	padding-bottom: -12.4vh !important;
	outline: none;
	border: none;
	z-index: 18;
}

aside figure {
	background: transparent !important;
	width: 86%;
	margin-left: 6%;
	padding-left: 0.5vw;
}

aside figcaption {
	font-weight: bold;
	text-align: center;
	margin-top: 2vh;
}

aside hr {
	color: #808080;
}

aside button,
aside input[type=button] {
	background: #202020 !important;
	padding: 2px 2px 2px 2px;
	box-shadow: none;
	border-radius: 8px;
	outline: 1px solid #ffffff;
	text-align: center !important;
	border: none;
	height: auto;
	width: calc((100% - var(--width)) / 3);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
	margin-bottom: 4px !important;
}

aside button:hover,
aside input[type=button]:hover {
	background: yellow !important;
	color: black;
	font-weight: bold;
	font-size: medium;
}

aside .active {
	color: yellow !important;
	font-weight: bold;
}


.left {
	position: fixed;
	left: 0.5%;
	top: 0.5%;
	height: 99%;
	width: 10%;


	display: block;
}

.right {
	position: fixed;
	right: 0.5%;
	top: 0.5%;
	height: 99%;
	width: 10%;


	display: block;
}