* {
	box-sizing: border-box;
	font-family: var(--font);
	font-size: 1.0em;
}

body {
	background: var(--appBg);
	height: 100vh;
	width: auto;
	display: flex;
	justify-content: center;
}

#menu {
	background: var(--barsBg);
	color: var(--barsFg);

	top: 1vh;
	left: calc( (100vw - var(--menuW)) / 2 );
	height: calc( var(--headerH) - 1vh);
	width: var(--menuW);

	font-size: var(--nbarFsize);
	font-weight: var(--nbarBold);
	font-style: var(--nbarItalic);

	border-radius: var(--radius);
	outline: var(--barsBorder);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--barsShadow ));
	z-index: 15;
}

#content {
	background: var(--appBg);
	width: var(--contentW);
	min-height: 10vh;
	margin-top: calc( var(--headerH) + var(--titleH) + 2vh);
}

#footer {
	background: var(--appBg);

	position: fixed;
	left: 0;
	bottom: var(--footerB);
	height: var(--footerH);
	width: 100vw;
	line-height: calc( 0.9 * var(--footerH) );

	outline: none;
	border: none;
	box-shadow: none;
}

#info {
	background: var(--barsBg);
	color: var(--barsFg);

	position: relative;
	top: calc( 0.01 * var(--footerH) );
	left: calc( (100vw - var(--infoW)) / 2 );
	height: calc( var(--footerH) - 1vh);
	width: var(--infoW);

	font-size: var(--fbarFsize);
	font-weight: var(--fbarBold);
	font-style: var(--fbarItalic);

	border-radius: var(--radius);
	outline: var(--barsBorder);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--barsShadow));
}

#titlebar {
	height: calc( 0.95 * var( --titleH ) );
	line-height: var(--titleH);
	font-size: var(--tbarFsize);
	font-weight: var(--tbarBold);
	font-style: var(--tbarItalic);
}

@media screen and (max-width: 1024px) {

	#info{
		width: 98%;
		left: 1%;
	}
	
	#content {
		width: 98%;
	}
	
}