.block {
	background: var(--blockBg);
    color: var(--blockFg);
    outline-style: solid;
	outline-width: var(--blockBdW);
	outline-color: var(--blockBdFg);
    border-radius: var(--appRadius);
    -webkit-box-shadow: 10px 10px 15px rgba(0,0,0,var(--blockShadow));
    box-shadow: 10px 10px 15px rgba(0,0,0,var(--blockShadow));
    margin-bottom: 2vh;
    padding: calc( 1 * var(--appFsize));
    overflow: hidden;
	display: block;
}

.selected {
    background: var(--blockActBg);
    color: var(--blockActFg);
}


.block-public {
	font-size: medium;
	margin-top: 0px !important;
	position: absolute;
	right: 36px;
	color: var(--editFg);
	font-weight: normal;
	top: 0;
	font-weight: bold;
}

.block-public-checkbox {
	margin-top: 4px !important;
	position: absolute;
	right: 1em;
	height: 32px;
}


.block-active {

	background: var(--blockActBg);
	color: var(--blockActFg);
	outline-style: auto;
	outline-width: var(--editBdW);
	outline-color: var(--editBdFg);
    border-radius: calc(var(--appRadius) / 4);
    overflow: auto;
}
