.bottom {
    grid-area: 4 / 2 / 5 / 3;
    background: var(--bottomBg);
    color: var(--bottomFg);
    border-radius: var(--bottomBorderRadius);
    outline-color: var(--bottomBorderColor);
    outline-width: var(--bottomBorderSize);
    outline-style: solid;
    -webkit-box-shadow: 10px 10px 15px rgba(0,0,0,var(--bottomShadows));
	box-shadow: 10px 10px 15px rgba(0,0,0,var(--bottomShadows));
    text-align: center;
    font-family: var(--bottomFontFam);
    font-size: var(--bottomFontsize);
    font-style: var(--bottomFontstyle);
    font-weight: var(--bottomFontweight);
    line-height: calc( 2.3 * var(--bottomFontsize) );
    height: var(--bottomHeight);
}

.bottom:active,
.bottom:hover,
.bottom:focus {
    background: var(--bottomBgHi);
    color: var(--bottomFgHi);
}

.bottom:disabled
{
    background: var(--bottomBgDis);
    color: var(--bottomFgDis);
}