
.cols-0-100 {
    display: grid;
    margin-bottom: 0.5em;
    grid-template-columns: 0% 100%;
}

.cols-10-90 {
    display: grid;
    margin-bottom: 0.5em;
    grid-template-columns: 10% 90%;
}

.cols-20-80 {
    display: grid;
    margin-bottom: 0.5em;
    grid-template-columns: 20% 80%;
}

.cols-30-70 {
    display: grid;
    margin-bottom: 0.5em;
    grid-template-columns: 30% 70%;
}

.cols-40-60 {
    display: grid;
    margin-bottom: 0.5em;
    grid-template-columns: 40% 60%;
}

.cols-50-50 {
    display: grid;
    margin-bottom: 0.5em;
    grid-template-columns: 50% 50%;
    margin-left: 10%;
    margin-right: 10%;
}

.cols-60-40
{
    display: grid;
    margin-bottom: 0.5em;
    grid-template-columns: 60% 40%;
}

.cols-70-30 {
    display: grid;
    margin-bottom: 0.5em;
    grid-template-columns: 70% 30%;
}

.cols-80-20 {
    display: grid;
    margin-bottom: 0.5em;
    grid-template-columns: 80% 20%;
}

.cols-90-10 {
    display: grid;
    margin-bottom: 0.5em;
    grid-template-columns: 90% 10% ;
}

.cols-100 {
    display: grid;
    margin-bottom: 0.5em;
    grid-template-columns: 100%;
}

.cols-20-30-20-30 {
    display: grid;
    margin-bottom: 0.5em;
    grid-template-columns: 25% 25% 25% 25%;
}

.cols-40-40-30 {
    display: grid;
    margin-bottom: 0.5em;
    grid-template-columns: 25% 60% !important;
}


