.error {
    background: red;
    color: white;
    font-weight: bold;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1),
        3px 4px 4px rgba(0, 0, 0, 0.15),
        4px 6px 4px rgba(0, 0, 0, 0.2),
        5px 8px 4px rgba(0, 0, 0, 0.25);
}

.shadow {
    -webkit-box-shadow: 10px 10px 15px black;
    box-shadow: 10px 10px 15px black;
}

.weblink {
    color: var(--linkFg);
    font-style: italic;
    font-weight: bold;
}


.li-mark {
    background: var(--inpActFg);
    color: var(--inpActBg);
	outline-style: solid;
	outline-width: var(--inpBdW);
	outline-color: var(--inpBdFg);
}
