
.error {
    background: red;
    color: white;
    position: absolute;
    left: 30vw;
    top: 10vw;
}

.error h1 {
    background: darkred;
    color: white;
    outline: 1px solid white;
    border-radius: 16px;
    font-weight: bold;
}

