form {
    display: block;
    left: calc( 50vw - (60vw/2));
    top: 10vh;
    width: 60vw;
    height: auto;
    margin: 2vh;
    padding: 4vh;
    background: var(--formBg);
    color: var(--formFg);
    border-radius: var(--radius);
    outline: var(--formBorder);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--formShadow));
    position: absolute;
	z-index: 2000 !important;
}

form input {
	margin: 4px;
}

form input[type=button] {
	width: auto !important;
}

