form {
	display: block;
	position: absolute;
	left: calc( var(--contentW)/2 );
	top: calc( var(--headerH) + var(--titleH) + ( 2 * var(--contentD) ) );
	width: auto;
	height: auto;
	margin: 2vh;
	padding: 4vh;
	background: var(--formBg);
	color: var(--formFg);
	min-width: var(--formWidth);
	min-height: var(--formHeight);
	border-radius: var(--radius);
	outline: var(--formBorder);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--formShadow));
	z-index: 10;
	position: absolute;
}

form input {
	margin: 4px;
}

form input[type=button] {
	width: auto !important;

}

