.container {
    display: grid;
    grid-template-columns: var(--wLeft) var(--wCenter) var(--wRight);
    grid-template-rows: var(--hNavbar) var(--hTitle) 7fr var(--hFooter);
    gap: var(--vGap) var(--hGap);
    grid-auto-flow: row;
    height: var(--hApp);
}

.title {
    grid-area: 2 / 2 / 3 / 3;
    background: var(--bgTitle);
    color: var(--fgTitle);
    border-radius: var(--rTitle);
    border-color: var(--bdColTitle);
    border-width: var(--bdSizeTitle);
    border-style: solid;
    -webkit-box-shadow: 10px 10px 15px rgba(0,0,0,var(--shTitle));
	box-shadow: 10px 10px 15px rgba(0,0,0,var(--shTitle));
    font-size: var(--fzTitle);
    font-style: var(--fsTitle);
    font-weight: var(--fwTitle);
    text-align: center;
    line-height: calc( 1.3 * var(--fzTitle) );
}

.navbar {
    grid-area: 1 / 2 / 2 / 3;
    background: var(--bgNavbar);
    color: var(--fgNavbar);
    border-radius: var(--rNavbar);
    border-color: var(--bdColNavbar);
    border-width: var(--bdSizeNavbar);
    border-style: solid;
    -webkit-box-shadow: 10px 10px 15px rgba(0,0,0,var(--shNavbar));
	box-shadow: 10px 10px 15px rgba(0,0,0,var(--shNavbar));
}

.content {
    grid-area: 3 / 2 / 4 / 3;
    background: var(--bgContent);
    color: var(--fgContent);
    border-radius: var(--rContent);
    border-color: var(--bdColContent);
    border-width: var(--bdSizeContent);
    -webkit-box-shadow: 10px 10px 15px rgba(0,0,0,var(--shContent));
	box-shadow: 10px 10px 15px rgba(0,0,0,var(--shContent));
    padding-top: 2vh;
}

.footer {
    grid-area: 4 / 2 / 5 / 3;
    background: var(--bgFooter);
    color: var(--fgFooter);
    border-radius: var(--rFooter);
    outline-color: var(--bdColFooter);
    outline-width: var(--bdSizeFooter);
    outline-style: solid;
    -webkit-box-shadow: 10px 10px 15px rgba(0,0,0,var(--shFooter));
	box-shadow: 10px 10px 15px rgba(0,0,0,var(--shFooter));
    text-align: center;
    font-size: var(--fzFooter);
    font-style: var(--fsFooter);
    font-weight: var(--fwFooter);
    line-height: calc( 2.3 * var(--fzFooter) );

}

.right {
    grid-area: 1 / 3 / 5 / 4;
    background: transparent;
    color: var(--fgTools);
    border-radius: var(--rTools);
    display: none;
    margin-top: 18vh;
    position: fixed;
    right: 4vw;
}

.right figure {
    background: var(--bgTools);
}

.left {
    grid-area: 1 / 1 / 5 / 2;
    background: transparent;
    color: var(--fgTools);
    border-radius: var(--rTools);
    display: none;
    margin-top: 18vh;
    position: fixed;
    left: 4vw;
}

.left figure {
    background: var(--bgTools);
}


@media screen and (max-width: 600px) {

    .container {
        display: grid;
        grid-template-columns: 0 100% 0;
        grid-template-rows: 1fr 1fr 7fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        height: 98vh;
    }

    .left,
    .right {
        display: none;
    }
}