#header {
    display: inline-flex;
    background: var(--appBg);
    position: fixed;
    left: 0;
    top: var(--headerT);
    height: var(--headerH);
    width: 100vw;
    outline: none;
    border: none;
    box-shadow: none;
    padding: 6px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#top-logo {
    position: fixed;
    left: 2vw;
    outline: none;
    border: none;
    box-shadow: none;
}

#top-logo img {
    height: var(--headerH);
    width: auto;
}

#top-menu {
    height: inherit;
    min-width: var(--menuW);
    background-color: var(--barsBg);
    color: var(--barsFg);
    border-radius: var(--radius);
    outline: var(--barsBorder);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--barsShadow));
    border: none;
    padding-left: 4px;
    padding-right: 4px;
}

#top-menu button {
    border: none;
    outline: none;
    height: calc(var(--headerH) - 4px);
    margin: 2px;
}



#top-avatar {
    position: fixed;
    right: var(--headerH);
    outline: none;
    border: none;
    box-shadow: none;
}

#top-avatar img {
    height: var(--headerH);
    width: auto;
}

@media screen and (max-width: 600px) {
    #top-avatar {
        right: 10px;
    }
}