
body {
	background: var(--bgApp);
	color: var(--fgApp);
	font-family: var(--font);
	font-size: var(--fontsize);
}

button {
	background: var(--bgButton);
    color: var(--fgButton);
    border-radius: var(--rButton);
	outline-style: solid;
	outline-width: var(--bdSizeButton);
	outline-color: var(--bdColButton);
    -webkit-box-shadow: 10px 10px 15px rgba(0,0,0,var(--shButton));
    box-shadow: 10px 10px 15px rgba(0,0,0,var(--shButton));
    text-align: center;
    font-family: var(--font);
    font-weight: var(--fwButton);
	font-style: var(--fsButton);
	font-family: var(--font);
    padding: calc( 2 * var(--fzButton) );
}

h1 {
	background: var(--bgTitle);
	color: var(--fgTitle);
	font-size: var(--fzTitle);
	font-weight: var(--fwTitle);
	font-style: var(--fsTitle);
	line-height: calc( 2 * var(--fzTitle));
	padding-left: 1vh;
	outline-style: solid;
	text-align: center;
	outline-width: var(--bdSizeTitle);
	outline-color: var(--bdColTitle);
	border-radius: var(--rTitle);
	-webkit-box-shadow: 10px 10px 15px rgba(0,0,0,var(--shTitle));
	box-shadow: 10px 10px 15px rgba(0,0,0,var(--shTitle));
	text-shadow: 2px 2px 4px black; 
}

/* ul {
	outline-style: solid;
	outline-width: var(--bdSizeInput);
	outline-color: var(--bdColInput);
    background: var(--bgInput);
    color: var(--fgInput);
} */

li {
    background: var(--inpBg);
    color: var(--inpFg);
}

li:hover {
    background: var(--bgHover);
    color: var(--fgHover);
	outline-style: solid;
	outline-width: var(--bdSizeInput);
	outline-color: var(--bdColInput);
	border-radius: var(--rInput);

}

input {
	background: var(--bgInput);
	color: var(--fgInput);
	border-radius: var(--rInput);
	outline-style: solid;
	outline-color: var(--bdColInput);
	outline-width: var(--bdSizeInput);
	font-size: var(--fzInput);
	font-style: var(--fsInput);
	font-weight: var(--fwInput);
}

@media screen and (max-width: 600px) {

    body {
        width: 95vw;
        left: 1vw;
    }

    footer {
        font-size: calc( 0.8 * var(--appFsize));
        font-style: italic;
        line-height: calc( 2 * var(--appFsize));
    }

	main {
		width: 100%;
		margin-left: -6px;
	}
    
	footer {
		bottom: 1vh;
		font-size: small;
	}

	/* nav {
		margin-top: 1vh;
	} */
}
