.iform {
    background: #202020;
    color: #ffffff;
    border-radius: 16px;
    outline-style: solid;
	outline-width: 2px;
	outline-color: #ffffff;
    display: block;
    float: left;
    height: auto;
    left: 10%;
    margin: 10px;
    min-height: 10vh;
    min-width: 50vw;
    overflow: hidden;
    padding: 3%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
	padding: 2vh;
    top: 10%;
    width: auto;
    z-index: 100;
    box-shadow: 15px 15px 25px black;
}

.iform-comment {
    padding-bottom: 2vh;
}

.iform h1 {
    font-size: 2.6em;
    font-weight: bold;
    background: #000000;
    color: #f9a915;
    border-radius: 16px;
	outline-style: solid;
	outline-width: 1px;
	outline-color: #ffffff;
    text-align: center;
    -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 2px black; 

}

.iform-input:active,
.iform-input:hover, 
.iform-input:focus {
    background: #ff2020;
    color: #ffffff;
}

.iform-label {
    border: none;
    display: grid;
    margin: 8px;
}

.iform-file, 
.iform-input {
    height: 1em;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    margin: 8px;
}

.iform-text,
.iform-input {
    height: 1em;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    margin: 8px;
}

.iform-color,
.iform-input  {
    border: none;
    border-radius: 6px;
    margin: 8px;
}

.iform-number,
.iform-input {
    height: 1em;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    margin: 8px;
    max-width: 60px;
}

.iform-checkbox, 
.iform-input {
	margin: 8px;
	width: 1em;
	border: none;
	outline: none;
}

.iform-textarea
.iform-input {
    outline: none;
    border:none;
    font-weight: bold;
    font-size: large;
}

.iform button,
.iform input[type=button] {
    background:  #606060;
    color: #ffffff;
    outline-style: solid;
	outline-width: 1px;
	outline-color: #ffffff;
    border-radius: 16px;
    width: -moz-available ;
    -webkit-box-shadow: 10px 10px 15px rgba(0,0,0,1);
    box-shadow: 10px 10px 15px rgba(0,0,0,1);
    margin: 8px;
    font-size: 1.2em;
    font-weight: bold;
    height: 1.6em;
}

.iform button:disabled,
.iform input[type=button]:disabled {
    background-color: #303030;
    color: #101010;
    cursor: not-allowed;
}

.iform-button:focus,
.iform-button:active,
.iform-button:hover {
    background: #ff2020;
    color: #ffffff;
}

.iform input[type=text]:disabled {
    background-color: #303030;
    color: #808080;
    cursor: not-allowed;
}

.iform input[type=password]:disabled {
    background-color: #303030;
    color: #101010;
    cursor: not-allowed;
}

.iform input[type=email]:disabled {
    background-color: #303030;
    color: #101010;
    cursor: not-allowed;
}

.iform input[type=file]:disabled {
    background-color: #303030;
    color: #101010;
    cursor: not-allowed;
}

.iform-combo,
.iform-input {
    width: 98%;
    height: 1em;
    margin: 8px;
}

.iform-slider,
.iform-input {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 1em;
    outline: none;
    opacity: 0.5;
    margin: 8px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.iform-slider:hover {
    opacity: 1;
}

.iform-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: white;
    cursor: pointer;
}

.iform-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: white;
    cursor: pointer;
}

.iform-value {
    font-style: italic;
    color: orange;
    margin: 8px;

}



.iform-select,
.iform-input {
    min-width: 120px;   
    font-size: 1em;
    font-weight: bold;
}

.iform-option {
    margin: 6px;
    padding-left: 10px;
    font-weight: bold;
}

.iform-checklist,
.iform-input {
    width: fit-content;
    width: -moz-fit-content;
    min-width: 120px;
    font-size: 1em;
    font-weight: bold;
    margin: 8px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;

}

.iform-checkoption {
    margin: 6px;
    padding-left: 10px;
}

.iform-40-30-30 {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    margin-bottom: 0.5em;
}
.iform-60-40 {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 0.5em;
}
.iform-40-60 {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 0.5em;
}

.iform-50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 0.5em;
}

.iform-10-90 {
    display: grid;
    grid-template-columns: 10% 90%;
    margin-bottom: 0.5em;
}

.iform-20-80 {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 0.5em;
}

.iform-25-25-25-25 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 0.5em;
}

.iform-20-30-20-30 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 0.5em;
}


.iform-100 {
    display: grid;
    grid-template-columns: 100% 0%;
    margin-bottom: 0.5em;
}

.iform-left,
.iform-input {
    height:inherit;
    margin-right: 10px !important;
    resize: horizontal;
    overflow: auto;
}

.iform-right,
.iform-input {
    height:inherit;
    resize: horizontal;
    overflow: auto;
}

.iform-figure {
    overflow: hidden;
    resize: both;
    padding: 32px;
}

.iform-caption {
	font-size: medium;
	font-style: italic;
	text-align: center;
	font-weight: bold;
}

.iform-image
{
    background: #ffffff;
    color: #000000;
}

.iform-image > img {
    margin: 20px;
}

.iform-image > canvas {
    margin: 4px;
    padding: 4px;
}

.iform-fieldset {
    display: grid;
    background: black;
}

.iform-tree {
    list-style: none;
    margin-left: -40px;
}

.iform-tree>li,
.iform-input {
    list-style: none;
    cursor: pointer;
}

.iform-ul {
    list-style: none;
}

.iform-tree>.iform-selected {
   font-weight: bold;
   font-size: larger;
}

.iform-tree>li::before {
    content: "\25B6";
    color: transparent;
    display: inline-block;
    margin-right: 6px;
}

.iform-nested {
    list-style-type: none;
    display: none;

}

.iform-nested>li,
.iform-input {
    cursor: pointer;
}

.iform.nested>li::before {
    content: "\25B6";
    color: transparent;
    display: inline-block;
    margin-right: 6px;
}

.iform-caret {
    cursor: pointer;
    user-select: none;
}

.iform-caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.iform-caret-down::before {
    transform: rotate(90deg);
}

.iform-active {
    display: block;
}

