
.left {
    grid-area: 1 / 1 / 5 / 2;
    background: var(--appBg);
    color: var(--appFg);
    border-radius: var(--appBorderRadius);
    display: none;
    margin-top: 18vh;
    position: fixed;
    left: 4vw;
}

.left figure {
    background: var(--appBg);
}


@media screen and (max-width: 600px) {

    .left {
        display: none;
    }
}