.main {
    display: grid;
    grid-template-columns: calc( (100% - var(--wCenter)) / 2  ) var(--wCenter) calc( (100% - var(--wCenter)) / 2  );
    grid-template-rows: var(--topHeight) var(--subHeight) var(--centerHeight) var(--bottomHeight);
    gap: var(--vGap) var(--hGap);
    grid-auto-flow: row;
    height: 98vh
}


@media screen and (max-width: 600px) {

    .main {
        display: grid;
        width: 100%;
        grid-template-columns: 0 100% 0;
        grid-template-rows: 1fr 1fr 7fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        height: 98vh;
    }

}