
.left {
    display: block;
    
    position: fixed;
    top: 0;
    left: 0;
    height: var(--sidebarsHeight);
    
    background: var(--sidebarsBg);
    color: var(--sidebarsFg);
}

.right {
    display: block;
    
    position: fixed;
    top:0;
    right: 0;
    height: var(--sidebarsHeight);
    
    background: var(--sidebarsBg);
    color: var(--sidebarsFg);
}
