
.theme {
    display: block;
    background: #202020;
    color: white;
    font-size: normal;
    font-weight: normal;
    outline: 2px solid white;
}

.theme h1 {
	outline: 1px solid orange;
	font-size: large;
	width: -moz-available;
	display: block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: 8px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 1.5em;
	height: 2em;
	line-height: 2em;
	text-align: center;
}

.theme h2 {
	background: var(--markBg);
	color: var(--markFg);
	outline: var(--markBorder);
	font-size: var(--markFsize);
	font-weight: var(--markBold);
	font-style: var(--markItalic);
	width: auto;
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: calc( var(--radius) / 2 );
	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--markShadow));
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.theme .form input {
    max-width: 120px;
    margin: 10px;
}

.theme input[type='number'] {
    max-width: 120px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.theme input[type='color'] {
	margin: 8px;
	border: none;
	outline: none;
}


.theme input[type='checkbox'] {
    min-width: 22px;
    min-height: 22px;
}

.theme .input-hover {
	background: var(--inpBgHi);
	color: var(--inpFgHi);
}

.theme input[type='text'] {
	background: var(--inpBg);
	color: var(--inpFg);

	border-radius: calc( var(--radius) / 2 );
	outline: var(--inpBorder);

	font-size: var(--inpFsize);
	font-weight: var(--inpBold);
	font-style: var(--inpItalic);

	height: var(--inpH);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--inpShadow));
	border:none ;


	margin: 8px 2px 8px 0px;
}

.tinput {
	background: wheat;
	color: black;

	border-radius: 8px;
	outline: 1px solid black;
	border:none ;

	font-size: medium;
	font-weight: normal;
	font-style: normal;

	height: 2em;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);

	margin: 8px 2px 8px 0px;

}


.theme input[type=button] {
	display: block;
	width: var(--btnWidth);
	min-width: 100px;
	margin-top: 12px;
	height: var(--btnH);

	background: var(--btnBg);
	color: var(--btnFg);
	font-size: var(--btnFsize);

	border-radius: calc( var(--radius) / 2 );
	outline: var(--btnBorder);
	border:none;

	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--btnShadow));

}

.theme input[type=button]:disabled {
	background: var(--btnBgDis);
	color: var(--btnFgDis);
	cursor: not-allowed;
}

.button-hover {
	background: var(--btnBgHi) !important;
	color: var(--btnFgHi) !important;

}