.theme-label {
    width: 100px;
    display: inline-block;
}

.theme-color {
    border: none;
    border-radius: var(--appRadius);
    margin: 8px 3vw 8px 0px;
    display: inline-block;
}

.theme-number {
    margin: 0px 1em 8px 0px;
    height: 1.5em;
    font-size: 1em;
    font-weight: bold;
    max-width: 75px;
}

.theme-select {
    min-width: 120px;   
    max-width: 120px;   
    font-size: 1em;
    font-weight: bold;
    margin-right: 1vh;
}

.theme-option {
    margin: 6px;
    padding-left: 10px;
    font-weight: bold;
}

