
.theme {
    display: block;
    background: #202020;
    color: white;
    font-size: normal;
    font-weight: normal;
    outline: 2px solid white;
}

.theme nav {
	height: var(--nbarH);
	width: 80%;
	background: var(--barsBg);
	color: var(--barsFg);
	font-size: var(--nbarFsize);
	font-weight: var(--nbarBold);
	font-style: var(--nbarItalic);
	border-radius: var(--radius);
	outline: var(--barsBorder);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--barsShadow ));
	z-index: 15;
	position: relative;
	/* margin-left: 5%; */
	line-height: 2em;
	left: 10%;
	top: 20px;
}

.theme a {
    display: block;
    padding: 10px 30px;
    background-color: var(--barsBg);
    color: var(--barsFg);
    letter-spacing: 1px;
    text-decoration: none;
    max-width: 120px;
}

.theme a:hover {
    background-color: var(--nbarBgHi);
    color: var(--nbarFgHi);
    border-radius: var(--radius);
}

.theme header {
	position: relative;
	/* left: var(--left); */
	top: 2vh;
	height: var(--tbarH);
	width: 80%;
	background: var(--barsBg);
	color: var(--barsFg);
	font-size: var(--tbarFsize);
	font-weight: var(--tbarBold);
	font-style: var(--tbarItalic);
	line-height: calc( var(--tbarH) );
	border-radius: var(--radius);
	outline: var(--barsBorder);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--barsShadow));
	padding-left: 24px;
	left: 10%;
	top: 40px;
}

.theme main {
	background: var(--appBg);
	margin-top: 40px;
	padding-bottom: calc( 2* var(--fbarH) );
	height: 389px;
	left: 0;
	top: 20px;
	position: relative;
}

.theme section {
	background: var(--contBg);
	color: var(--contFg);
	height: 104px;
	width: 80%;
	border-radius: var(--radius);
	outline: var(--contBorder);
	margin-left: 10%;
	margin-right: calc( var(--left) );
	margin-top: var(--vGap);
	min-height: 3.2em;	}
	


.theme footer {
	position: relative;
	left: var(--left);
	bottom: 20px;
	height: var(--fbarH);
	width: 80%;
	background: var(--barsBg);
	color: var(--barsFg);
	font-size: var(--fbarFsize);
	font-weight: var(--fbarBold);
	font-style: var(--fbarItalic);
	line-height: var(--fbarH);
	border-radius: var(--radius);
	outline: var(--barsBorder);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--barsShadow));
	left: 10%;
}

.theme .form {
	display: block;
	position: absolute;
	left: 220px;
	top: -80px;
	width: 240px;
	height: auto;
	margin: 2vh;
	padding: 1vh;
	background: var(--formBg);
	color: var(--formFg);
	min-width: var(--formWidth);
	min-height: var(--formHeight);
	border-radius: var(--radius);
	outline: var(--formBorder);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--formShadow));
	z-index: 10;
}

.theme h1 {
	outline: 1px solid var(--linkFg);
	font-size: large;
	width: -moz-available;
	display: block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: calc( var(--radius) / 2 );
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 1.5em;
	height: 2em;
	line-height: 2em;
	text-align: center;
}


.theme .form input {
    max-width: 120px;
    margin: 10px;
}

.theme input[type='number'] {
    max-width: 120px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.theme input[type='color'] {
	margin: 8px;
	border: none;
	outline: none;
}


.theme input[type='checkbox'] {
    min-width: 22px;
    min-height: 22px;
}

.theme .input-hover {
	background: var(--inpBgHi);
	color: var(--inpFgHi);
}

.theme input[type='text'] {
	background: var(--inpBg);
	color: var(--inpFg);

	border-radius: calc( var(--radius) / 2 );
	outline: var(--inpBorder);

	font-size: var(--inpFsize);
	font-weight: var(--inpBold);
	font-style: var(--inpItalic);

	height: var(--inpH);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--inpShadow));
	border:none ;


	margin: 8px 2px 8px 0px;
}

.theme input[type=button] {
	display: block;
	width: var(--btnWidth);
	min-width: 100px;
	margin-top: 12px;
	height: var(--btnH);

	background: var(--btnBg);
	color: var(--btnFg);
	font-size: var(--btnFsize);

	border-radius: calc( var(--radius) / 2 );
	outline: var(--btnBorder);
	border:none;

	box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--btnShadow));

}

.theme input[type=button]:disabled {
	background: var(--btnBgDis);
	color: var(--btnFgDis);
	cursor: not-allowed;
}

.button-hover {
	background: var(--btnBgHi) !important;
	color: var(--btnFgHi) !important;

}