

.tool-active {
    background: orange !important; 
    color: black !important;
}

.tool-normal  {
    background: #202020 !important;
    color: white !important;
}

.tool-disabled  {
    background: #202020 !important;
    color: gray !important;
    font-weight: normal;
    cursor: not-allowed;
}


