  .topnav a {
    background-color: var(--barsBg);
    color: var(--barsFg);

    float: left;
    display: block;
    border-radius: var(--radius);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: var(--nbarFsize);
  }

  .toplink {
    background-color: var(--barsBg);
    color: var(--barsFg);

    font-size: var(--nbarFsize);
    border: none;
    outline: none;
    padding: 18px 16px !important;
    font-family: inherit;
    margin: 0;
    min-width: 100px;
    height: inherit;
    font-weight: bold;
  }

  .active {
    background-color: var(--nbarBgHi) !important;
    color: var(--nbarFgHi) !important;
  }

  .topnav .icon {
    display: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {

    background-color: var(--barsBg);
    color: var(--barsFg);

    padding: 14px 16px;
    font-size: var(--nbarFsize);
    border: none;
    outline: none;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    background-color: var(--barsBg);
    color: var(--barsFg);

    display: none;
    position: absolute;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  .dropdown-content a {
    background-color: var(--barsBg);
    color: var(--barsFg);

    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .topnav a:hover,
  .dropdown:hover .dropbtn {
    background-color: var(--nbarBgHi);
    color: var(--nbarFgHi);
  }

  .dropdown-content a:hover {
    background-color: var(--nbarBgHi);
    color: var(--nbarFgHi);
  }

  .dropdown:hover .dropdown-content {
    display: block;
    /* background-color: var(--nbarBgHi); */
    color: var(--nbarFgHi);
  }

  @media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
      display: none;
    }

    .topnav a.icon {
      float: right;
      display: block;
      margin-top: 2px;
      margin-right: 2px;
    }


    .topnav.responsive {
      position: relative;
    }

    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .topnav.responsive .dropdown {
      float: none;
    }

    .topnav.responsive .dropdown-content {
      position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }