:root {
	--theme: "IceWall";
	--font: "Arial";
	--headerT: 1vh;
	--headerH: 6vh;
	--footerB: 1vh;
	--footerH: 4vh;
	--titleH: 3vh;
	--menuW: 80vw;
	--infoW: 80vw;
	--titleW: 60vw;
	--contentW: 40vw;
	--contentD: 2vh;
	--radius: 16px;
	--linkFg: #ffff00;
	--appBg: #202020;
	--barsBg: #000000;
	--barsFg: #ffffff;
	--barsBorder: 1px solid #ffffff;
	--barsShadow: 1;
	--tbarBold: bold;
	--tbarItalic: normal;
	--tbarFsize: large;
	--nbarBold: bold;
	--nbarItalic: normal;
	--nbarFsize: large;
	--nbarBgHi: #ffff00;
	--nbarFgHi: #000000;
	--fbarBold: normal;
	--fbarItalic: italic;
	--fbarFsize: medium;
	--contBg: #303030;
	--contFg: #ffffff;
	--contBorder: 1px solid #ffffff;
	--contShadow: 1;
	--formBg: #202020;
	--formFg: #ffffff;
	--formBorder: 2px solid #ffffff;
	--formShadow: 1;
	--btnH: 2em;
	--btnBg: #101010;
	--btnFg: #ffffff;
	--btnBgHi: #ffff00;
	--btnFgHi: #000000;
	--btnBgDis: #404040;
	--btnFgDis: #808080;
	--btnBold: bold;
	--btnItalic: normal;
	--btnFsize: large;
	--btnShadow: 1;
	--btnBorder: 1px solid #ffffff;
	--inpH: 2em;
	--inpBg: #e0e0e0;
	--inpFg: #000000;
	--inpBgHi: #ffffff;
	--inpFgHi: #000000;
	--inpBgDis: #404040;
	--inpFgDis: #808080;
	--inpBold: bold;
	--inpItalic: normal;
	--inpFsize: medium;
	--inpShadow: 1;
	--inpBorder: 1px solid #ffffff;
	--markBg: #303030;
	--markFg: #ffa500;
	--markBorder: 1px solid #ffa500;
	--markShadow: 1;
	--markFsize: medium;
	--markBold: bold;
	--markItalic: normal;
}
