<figure class="theme-menu">
    <figcaption>Ramar</figcaption>
    <hr>
    <button onclick="editSizeTop()">Meny</button>
    <button onclick="editSizeSub()">Titel</button>
    <button onclick="editSizeCenter()">Mitten</button>
    <button onclick="editSizeSection()">Avsnitt</button>
    <button onclick="editSizeBottom()">Bottenrad</button>
    <button onclick="editSizeForms()">Formulär</button>
    <button onclick="editSizeMisc()">Övrigt</button>
    <button onclick="closeEditSize()">Klar</button>
    
</figure>